* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* outline: 3px solid red; */
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
}

/* Color Palette */
:root {
    --color-primary: #87ceeb;
    --color-secondary: whitesmoke;
    --color-tertiary: black;
}



/* Scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--color-tertiary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 0px;
    /* border: 1px solid white; */
}




/* Navigation Bar */ 
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: fixed;
    width: 100%;
    height: 3em;
    background-color: var(--color-tertiary);
}

.navlink a {
    margin: 1em;
    justify-content: space-between;
    text-decoration: none;
    color: var(--color-primary);
    font: bold;
    font-size: 1.25em;
}

.navlink a:hover {
    color:var(--color-secondary);
}

@media only screen and (min-width: 900px) {
    
}





/* Transition Gradient */
.gradient {
    height: 2em;
    width: 100;
    background: linear-gradient(black, var(--color-primary), black);
}





/* Hero */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:url(/images/background.png);
    background-position: center;
    background-size: 100% 100%;
    height: 75vh;
}

#name {
    color: var(--color-secondary);
    margin: 0;
    font-size: xxx-large;
    text-shadow: 1px 1px var(--color-tertiary);
}

#title {
    color: var(--color-secondary);
    padding: 0.5em;
    font-size: x-large;
    text-shadow: 1px 1px var(--color-tertiary);
}

#socials {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#socials li {
    padding: 1em;
    justify-content: space-between;
}

#socials a {
    color: var(--color-primary);
}

#socials a:hover {
    color: var(--color-secondary);
}

@media only screen and (min-width: 900px) {
    #hero {
        height: 100vh;
    }
}




/* About */
#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-tertiary);
    height: 500px;
    justify-content: space-evenly;
}

#about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em;
}

#about-title {
    color: var(--color-secondary);
    font-size: xx-large;
    text-shadow: 1px 1px var(--color-tertiary);
    height: 1.5em;
}

#description {
    color: var(--color-secondary); 
    font-size: large;
    width: 100%;
}

#profile-pic {
    height: 12.5em;
    width: auto;
}

@media only screen and (min-width: 900px) {
    #about {
        flex-direction: row;
    }

    #about-text {
        width: 30%;
        outline: 2px groove var(--color-primary);
    }

    #profile-pic {
        height: 20em;
    }

}

